.main-banner {
  img {
    width: 100%;
  }
}
.container.intro {
  background: url("../asset/picture/introduction-bg.png");
  background-size: 100% 100%;
  height: 100%;
  top: -5px;
  .content-intro {
    margin-left: 140px;
    padding: 140px 0 140px 0;
    width: 667px;
    h1 {
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 800;
      color: var(--white);
    }
    p {
      font-size: 20px;
      margin-top: 59px;
      line-height: 30px;
      text-align: left;
      color: var(--white);
    }
  }
}
.best-pr {
  width: 665px;
  padding-top: 150px;
  text-align: center;
  margin: auto;
  margin-bottom: 74px;
  color: var(--bright-orange);
  h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  p {
    margin-top: 49px;
    font-size: 20;
  }
}

.btn-seemore {
  width: 200px;
  height: 60px;
  position: relative;
  button {
    width: 100%;
    height: 100%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border: 3px solid #000;
    background: transparent;
    &:hover {
      background: var(--black);
      color: var(--white);
    }
  }
}

.container.best {
  background: url("../asset/picture/bes-bg.png");
  background-size: 100% 100%;
  height: 100%;
  top: -5px;
  .best-pr {
    margin-bottom: 55px;
  }
  .row {
    position: relative;
    padding-bottom: 100px;
    justify-content: center;
    top: -80px;
    .best-pr-item {
      .icon {
        position: relative;
        top: 40px;
        width: 80px;
        height: 80px;
        img {
          width: 100%;
          height: 100%;
        }
        p {
          position: absolute;
          top: 20px;
          left: 22px;
          font-size: 30px;
          font-weight: 800;
          text-decoration: underline;
        }
      }
      .img {
        width: 471px;
        height: 514px;
        img {
          width: 100%;
        }
      }
      .card-info {
        position: relative;
        top: -10px;
        width: 369px;
        height: 79px;
        border: 3px solid var(--dark-maroon);
        background: var(--white);
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: auto;
        p {
          font-size: 20px;
          font-weight: 800;
          margin-left: 20px;
        }
        button {
          width: 65px;
          height: 57px;
          font-size: 20px;
          font-weight: 800;
          background: #000;
          border-radius: 50%;
          margin-right: 10px;
          color: var(--white);
        }
      }
    }
  }
}

.container.product {
  margin: 0 auto;
  .row {
    position: relative;
    top: 140px;
    margin-bottom: 70px;
    .product-card {
      margin: auto;
      .img {
        margin-bottom: 25px;
      }
      .title {
        margin-bottom: 25px;
        p {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .group-btn-like {
        display: flex;
        justify-content: space-between;
        p {
          line-height: 30px;
        }
        span {
          display: flex;
          align-items: center;
          i {
            color: var(--pumpkin-orange);
          }
        }
      }
    }
  }
  .btn-seemore {
    margin: 250px auto 140px auto;
  }
}

.container.story {
  height: 956px;
  background: var(--cerulean);
  .best-pr {
    color: var(--sun-yellow);
    h1 {
      font-size: 45px;
      letter-spacing: 4.5px;
    }
    p {
      font-weight: 300;
    }
  }
  .row {
    .outner {
      width: 1251px;
      height: 418px;
      margin: auto;
      z-index: 100;
      .line-story {
        width: 100%;
        height: 25px;
        background: var(--black-two);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          position: relative;
          width: 99%;
          background: var(--cerulean);
          border: 1px solid var(--cerulean);
          &:last-child {
            margin-top: 5px;
          }
        }
      }
      .main-story {
        background: #fff;
        border: 3px solid var(--black-two);
        display: flex;
        img {
          width: 50%;
        }
        .group-content {
          width: 528px;
          margin-top: 63px;
          margin-left: 44px;
          h1 {
            font-size: 25px;
            font-weight: 800;
            text-transform: uppercase;
          }
          p {
            font-weight: 300;
            margin-top: 40px;
            margin-bottom: 45px;
          }
        }
      }
    }
  }
}

.line {
  position: absolute;
  width: 1920px;
  height: 3px;
  top: 400px;
  background-color: var(--black-two);
}

.object-gr {
  position: absolute;
  .oj1 {
    position: absolute;
    top: -150px;
    left: 50px;
  }
  .oj2 {
    position: absolute;
    width: 192px;
    top: 130px;
    left: -30px;
    img {
      width: 85%;
    }
  }
  .oj3 {
    position: absolute;
    width: 180px;
    top: 200px;
    left: 133px;
    img {
      width: 85%;
    }
  }
  .oj4 {
    position: absolute;
    width: 197px;
    top: -10px;
    left: 1490px;
  }
  .oj5 {
    position: absolute;
    width: 350px;
    top: 230px;
    left: 1350px;
    img {
      width: 90%;
    }
  }
  .oj6 {
    position: absolute;
    top: 170px;
    left: 1480px;
  }
  .oj7 {
    position: absolute;
    top: 50px;
    left: 1500px;
  }

  .oj8 {
    position: absolute;
    top: -510px;
    left: 350px;
  }

  .oj9 {
    position: absolute;
    top: -80px;
    left: 180px;
  }
  .oj10 {
    position: absolute;
    top: -50px;
    left: 1250px;
  }
  .oj11 {
    position: absolute;
    top: -280px;
    left: 1250px;
  }
  .oj12 {
    position: absolute;
    top: -250px;
    left: 1350px;
  }
  .oj13 {
    position: absolute;
    top: 0;
    left: 150px;
  }
  .oj14 {
    position: absolute;
    width: 624px;
    top: 330px;
    left: -270px;
    img {
      width: 70%;
    }
  }
  .oj15 {
    position: absolute;
    top: -300px;
    left: 1400px;
  }
  .oj16 {
    position: absolute;
    top: -180px;
    left: 1330px;
  }
  .oj17 {
    position: absolute;
    width: 350px;
    top: 180px;
    left: 1505px;
    z-index: -1;
    img {
      width: 90%;
    }
  }
  .oj18 {
    position: absolute;
    width: 596px;
    top: 430px;
    left: 1300px;
    z-index: -1;
    img {
      width: 90%;
    }
  }
  .oj19 {
    position: absolute;
    top: 680px;
    left: 140px;
    z-index: -1;
  }
  .oj20 {
    position: absolute;
    top: 790px;
    left: 250px;
  }
  .oj21 {
    position: absolute;
    top: 790px;
    left: 1020px;
  }
}

.container.issue {
  width: 100%;
  height: 1143px;
  padding: 0;
  background: var(--goldenrod);
  .best-pr {
    color: var(--dark-brown);
    h1 {
      font-size: 45px;
      letter-spacing: 4.5px;
    }
    p {
      margin-bottom: 55px;
    }
    .btn-seemore {
      margin: auto;
    }
  }
  .group-news {
    .row {
      margin: 0;
      .card {
        width: 20%;
        height: 480px;
        border: 3px solid var(--black-two);
        text-align: center;
      }
      .wh-issue {
        background: var(--bright-orange-two);
        .title {
          margin: 50px;
          font-size: 35px;
          font-weight: 800;
          h1 {
            text-transform: uppercase;
          }
        }
      }
      .item-news {
        background: var(--dark-brown);
        .title {
          text-transform: uppercase;
          color: var(--white);
          padding: 24px;
        }
        .d-brand {
          background: var(--bright-orange-two);
          color: var(--white);
        }
        img {
          width: 100%;
          height: 83%;
        }
      }
    }
  }
}

.container.video {
  // background: var(--white);
  height: 1686px;
  .best-pr {
    color: var(--black-two);
    h1 {
      font-size: 50px;
      letter-spacing: 10px;
    }
    p {
      margin-bottom: 53px;
    }
    .btn-seemore {
      margin: auto;
    }
  }
  .main-banner-vd {
    width: 1251px;
    margin: auto;
    text-align: center;
    z-index: 1;
    img {
      width: 90%;
    }
  }
}

.btn-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 60px;
  border: none;
  background: none;
  color: var(--tomato);
  cursor: pointer;
}

@media (max-width: 768px) {
  .container.intro {
    background-size: 100% 100%;
    .content-intro {
      width: 100%;
      margin: auto;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
        margin-top: 30px;
      }
    }
  }
  .container.best {
    .best-pr {
      width: 100%;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
        margin-top: 30px;
      }
    }
    .row {
      .best-pr-item {
        .img {
          width: 100%;
        }
        .card-info {
          top: 30px;
        }
      }
    }
  }

  .container.product {
    .row {
      .product-card {
        margin-bottom: 20px;
        &:nth-last-of-type(-n + 15) {
          display: none;
        }
      }
    }
  }
  .container.story {
    height: 1300px;
    .best-pr {
      width: 100%;
      padding-top: 100px;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .object-gr {
      display: none;
    }
    .row {
      flex-direction: column;
      .outner {
        .line-story {
          width: 100vh;
        }
        .main-story {
          display: block;
          width: 100vh;
          img {
            width: 100%;
          }
          .group-content {
            width: 100%;
            height: auto;
            margin: auto;
            margin-top: 50px;
            text-align: center;
            p {
              margin-left: 40px;
              margin-right: 40px;
            }
            .btn-seemore {
              width: 150px;
              margin: auto;
              margin-bottom: 50px;
              button {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  .container.issue {
    height: 2000px;
    .best-pr {
      width: 100%;
      padding-top: 100px;
      h1 {
        font-size: 2.5rem;
      }
      p {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 1rem;
      }
    }
    .group-news {
      .row {
        .wh-issue {
          img {
            transform: rotate(90deg);
          }
        }
        .card {
          width: 50%;
          &:first-child {
            width: 100%;
            height: 400px;
          }
        }
      }
      .object-gr {
        .oj8 {
          left: 315px;
        }
      }
    }
  }

  .container.video {
    height: 1350px;
    .object-gr {
      .oj13 {
        width: 100px;
        height: 70px;
      }
      .oj14 {
        z-index: -1;
        left: -145px;
        img {
          width: 40%;
        }
      }
      .oj15 {
        display: none;
      }
      .oj16 {
        width: 80px;
        height: 80px;
        left: 565px;
        transform: rotate(30deg);
      }
      .oj17 {
        left: 638px;
        img {
          width: 50%;
        }
      }
      .oj18 {
        left: 505px;
        img {
          width: 50%;
        }
      }
      .oj19 {
        width: 120px;
        height: 120px;
        top: 365px;
        left: 0;
      }
      .oj20 {
        width: 300px;
        height: 150px;
        top: 450px;
        left: 60px;
      }
      .oj21 {
        width: 60px;
        height: 53px;
        top: 600px;
        left: 400px;
      }
    }
    .best-pr {
      width: 100%;
      padding-top: 100px;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .main-banner-vd {
      width: 100vh;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .container.intro {
    background-size: 100% 100%;
    .content-intro {
      width: 100%;
      margin: auto;
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
        margin-top: 20px;
      }
    }
  }
  .container.best {
    .best-pr {
      width: 100%;
      padding-top: 100px;
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
        margin-top: 30px;
      }
    }
    .row {
      .best-pr-item {
        .img {
          width: 100%;
        }
        .card-info {
          width: 70%;
          top: -135px;
          p {
            font-size: 0.8rem;
          }
          button {
            font-size: 1rem;
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
  .container.product {
    .row {
      .product-card {
        margin-bottom: 20px;
        &:nth-last-of-type(-n + 21) {
          display: none;
        }
      }
    }
  }
  .container.story {
    height: 1150px;
    .best-pr {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .object-gr {
      display: none;
    }
    .row {
      .outner {
        width: 100%;
        .line-story {
          width: 100%;
        }
        .main-story {
          width: 100%;
          .group-content {
            h1 {
              font-size: 1.2rem;
            }
            p {
              font-size: 0.8rem;
            }
            .btn-seemore {
              width: 130px;
              button {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
  .container.issue {
    height: 3000px;
    .best-pr {
      h1 {
        font-size: 2rem;
      }
    }
    .group-news {
      .row {
        .card {
          width: 100%;
          &:first-child {
            height: 450px;
          }
          .d-brand {
            background: none;
          }
        }
      }
      .object-gr {
        .oj8 {
          display: none;
        }
      }
    }
  }
  .container.video {
    height: 1150px;
    .object-gr {
      .oj13 {
        width: 100px;
        height: 70px;
      }
      .oj14 {
        z-index: -1;
        left: -145px;
        img {
          width: 30%;
        }
      }
      .oj16 {
        width: 50px;
        height: 50px;
        left: 400px;
      }
      .oj17 {
        left: 385px;
        top: 75px;
        img {
          width: 30%;
        }
      }
      .oj18 {
        left: 300px;
        top: 245px;
        img {
          width: 30%;
        }
      }
      .oj19 {
        width: 80px;
        height: 80px;
        top: 250px;
        left: -20px;
      }
      .oj20 {
        width: 200px;
        height: 100px;
        top: 300px;
        left: 35px;
      }
      .oj21 {
        width: 30px;
        height: 23px;
        top: 400px;
        left: 250px;
      }
    }
    .best-pr {
      h1 {
        font-size: 2rem;
      }
    }
    .main-banner-vd {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
